[Unit]
Description=Wallops Island Sounding Rocket Mission Simulator
Documentation=https://github.com/kzaremski
After=network.target

[Service]
WorkingDirectory=/home/pi/sounding-rocket-mission-simulator/
Type=simple
User=pi
ExecStart=/usr/bin/python3 /home/pi/sounding-rocket-mission-simulator/app.js
Restart=on-failure

[Install]
WantedBy=multi-user.target