@font-face {
    font-family: "IBM Plex Sans";
    src: url("/static/font/IBM_Plex_Sans/IBMPlexSans-Regular.ttf");
}

@font-face {
    font-family: "IBM Plex Sans Bold";
    src: url("/static/font/IBM_Plex_Sans/IBMPlexSans-Bold.ttf");
}

@font-face {
    font-family: "IBM Plex Sans Bold Italic";
    src: url("/static/font/IBM_Plex_Sans/IBMPlexSans-BoldItalic.ttf");
}

@font-face {
    font-family: "IBM Plex Sans Light";
    src: url("/static/font/IBM_Plex_Sans/IBMPlexSans-Light.ttf");
}

@font-face {
    font-family: "Inconsolata";
    src: url("/static/font/Inconsolata/Inconsolata-VariableFont_wdth\,wght.ttf");
}

body {
    background-color: #000000;
    font-family: "Inconsolata", sans-serif;
    color: #ffffff;
}

#top-nasa-logo {
    width: 100px;
}

h2 {
    font-size: 14pt;
    margin-bottom: 0;
    font-weight: 300;
}

h1 {
    margin: 0;
    font-size: 22pt;
}

h3 {
    font-weight: 300;
}

/*
    Mission Details
*/

#mission-details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#mission-details div {
    flex-basis: 50%;
    width: 50%;
    text-align: center;
}

#mission-details div.jumbotron {
    flex-basis: 100%;
    width: 100%;
}

#mission-details div .segment-display {
    display: inline-block;
    height: 8vw;
}

#mission-details div.jumbotron .segment-display {
    height: 15vw;
    width: 75vw;
}

#telemetry {
    border: solid white 1px;
    padding: 5px;
    font-weight: 200;
}