<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CC of CO Sounding Rocket Mission Simulator</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/icon.png">
    <link rel="apple-touch-icon" href="/static/icon.png">
    <meta name="apple-mobile-web-app-title" content="Mission Sim">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>
<body>
    <img id="top-nasa-logo" src="/static/img/NASA_Worm_logo.svg">
    <h2>Community Colleges of Colorado</h2>
    <h1>SOUNDING ROCKET<br>MISSION SIMULATOR</h1>
    
    <h3>CURRENT MISSION DETAILS</h3>
    <div id="mission-details">
        <div class="jumbotron">
            <div id="launch-time" class="segment-display"></div>
            <p>LAUNCH RELATIVE TIME (T +/-)</p>
        </div>
        <div>
            <div id="current-draw" class="segment-display"></div>
            <p>CURRENT DRAW (A)</p>
        </div>
        <div>
            <div id="total-power" class="segment-display"></div>
            <p>TOTAL DRAW (Ah)</p>
        </div>
        <div class="jumbotron">
            <div id="next-timer-event" class="segment-display"></div>
            <p>NEXT TIMER EVENT</p>
        </div>
        <div class="jumbotron">
            <div id="timer-event-dwell" class="segment-display"></div>
            <p>DWELL REMAINING</p>
        </div>
    </div>
    
    <h3>OUTPUT CHANNEL INDICATORS</h3>
    <div id="channel-indicators">
        <div id="master-power-indicator" class="master">MASTER POWER</div>
        <div id="gse1-indicator" class="gse">GSE-1</div>
        <div id="gse2-indicator" class="gse">GSE-2</div>
        <div id="teRa-indicator" class="ter">TE-Ra</div>
        <div id="teRb-indicator" class="ter">TE-Rb</div>
        <div id="te1-indicator" class="te">TE-1</div>
        <div id="te2-indicator" class="te">TE-2</div>
        <div id="te3-indicator" class="te">TE-3</div>
    </div>
    
    <h3>MANUAL CONTROL&nbsp;&nbsp;&nbsp;<input type="checkbox" id="enable-manual-control"/><small> Enable Manual Control</small></h3>
    <div id="manual-control-buttons" class="disabled">
        <div id="kill-power" class="button">ALL OFF / KILL POWER</div>
        <div id="master-button" class="button">MASTER POWER</div>
        <div id="gse1-button" class="button">GSE-1</div>
        <div id="gse2-button" class="button">GSE-2</div>
        <div id="teRa-button" class="button">TE-Ra</div>
        <div id="teRb-button" class="button">TE-Rb</div>
        <div id="te1-button" class="button">TE-1</div>
        <div id="te2-button" class="button">TE-2</div>
        <div id="te3-button" class="button">TE-3</div>
    </div>

    <h3>AUTOMATED MISSION</h3>
    <div id="start-mission-button" class="button">LAUNCH MISSION</div>
    <div id="stop-mission-button" class="button">STOP MISSION TIMER EVENTS</div>
    <div id="reset-mission-button" class="button">STOP & RESET MISSION</div>
    <small><i>Warning:</i> Stopping and resetting the mission will kill power and reset to a pre-GSE state.</small>

    <h3>CONFIGURE MISSION PARAMETERS</h3>
    <p style="margin-bottom: 8px;"><small><i>Note:</i> Changes made to mission parameters do not propagate to other devices. Please ask other users to reload the page after submitting changes.</small></p>
    <table id="mission-parameters-table"></table>
    <div id="undo-changes-button" class="button">RESET CHANGES</div>
    <div id="submit-mission-parameters-button" class="button">SUBMIT NEW MISSION PARAMETERS</div>
    
    <h3>TELEMETRY OUTPUT</h3>
    <div id="clear-telemetry-button" class="button">CLEAR TELEMETRY CONSOLE</div>
    <div id="telemetry">&nbsp;</div>

    <footer>
        <p>Designed and implemented by Konstantin Zaremski. Licensed under the MIT License.</p>
    </footer>
    
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/knockout-2.2.1.js"></script>
    <script src="/static/js/sevenSeg.js"></script>
    <script src="/static/js/socket.io.js"></script>
    <script src="/static/main.js"></script>
</body>
</html>